@import url("../style.css");
@import url("../templates/header.css");
@import url("../templates/header_adapt.css");
@import url("../templates/footer.css");

/* personnalisation du header */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/about-bg-5.jpg);
}

/* main */
#section_our_mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--medium-space);
}

#section_our_mission h2 {
  color: var(--my-);
}

#section_our_mission .row {
  display: flex;
  justify-content: center;
  gap: var(--big-space);
  max-width: var(--max-width);
}

#section_our_mission .row > div {
  display: flex;
  flex-direction: column;
  gap: var(--small-space);
  width: 50%;
}

#section_our_mission .row > div > img {
  box-shadow: 10px 10px var(--my-gray);
}

.liste_ul .liste_li {
  display: flex;
  align-items: center;
  gap: var(--small-space);
}

.liste_li .separateur {
  width: 20px;
}

/* Responsive */
@media (max-width: 767px) {
  #section_our_mission {
    gap: var(--big-space);
  }

  #section_our_mission .row {
    flex-direction: column;
    gap: var(--medium-space);
  }

  #section_our_mission .row > div {
    width: 100%;
  }
}