@import url("../style.css");
@import url("../templates/header.css");
@import url("../templates/header_adapt.css");
@import url("../templates/footer.css");

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/about-bg-2.jpg);
}

main {
  display: flex;
  justify-content: center;
}

#section_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--medium-space);
  max-width: var(--max-width);
  width: 100%;
}

#section_container h2 {
  color: var(--my-black);
}

#section_container > div {
  width: 50%;
}

#section_container .formulaire {
  display: flex;
  flex-direction: column;
  gap: var(--medium-space);
}

#section_container .formulaire form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--small-space);
}

#section_container .formulaire form input,
textarea {
  color: rgb(102, 102, 102);
  padding: 16px 16px;
  border-radius: 2px;
  border-style: none;
  border: solid 1px #dddddd;
  line-height: 1.7em;
  font-size: 0.9rem;
}

#section_container .formulaire form textarea {
  overflow: auto;
}

/* Traitement des labels pour qu'ils soient accessible et invisible, mais non apparent
selon chatgpt display: none; ou visibility: hidden; enlève l'accessibilité */
#section_container .formulaire label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#section_container .contact_info {
  display: flex;
  flex-direction: column;
  gap: var(--small-space);
}

#section_container .contact_info span {
  font-weight: bold;
}

#section_container .contact_info .liens_reseaux {
  display: flex;
  gap: var(--xsmall-space);
}

#section_container .contact_info .liens_reseaux div {
  width: var(--medium-space);
}

/* Responsive */
@media (max-width: 921px) {
  header {
    height: 280px;
  }
  h1 {
    padding-top: 40px;
    font-size: 3em;
  }
}

@media (max-width: 767px) {
  #section_container {
    flex-direction: column;
  }

  #section_container > div {
    width: 100%;
  }
}

@media (max-width: 544px) {
  h2 {
    font-size: 1.5em;
  }
}
