@import "../style.css";
@import "../templates/header.css";
@import "../templates/footer.css";

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/about-bg-2.jpg);
  height: 570px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center center;
}

/* section */

#section_container {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 100px;
}

#section_container > div {
    width: 40%;
}

#section_container .formulaire {
    display: flex;
    flex-direction: column;
    gap:60px;
}

#section_container .formulaire form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

#section_container .formulaire form input, textarea{
    color: rgb(102,102,102);
    padding: 16px 16px;
    border-radius: 2px;
    border-style: none;
    border: solid 1px #dddddd;
    line-height: 1.7em;
    font-size: 0.9rem;
}

#section_container .formulaire form textarea {
  overflow: auto;
}


/* Traitement des labels pour qu'ils soient accessible et invisible, mais non apparent
selon chatgpt display: none; ou visibility: hidden; enlève l'accessibilité */
#section_container .formulaire label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#section_container .contact_info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#section_container .contact_info span {
  font-weight: bold;
}

#section_container .contact_info .liens_reseaux {
  display: flex;
  gap: 10px;
}

#section_container .contact_info .liens_reseaux div {
  width: 40px;
}

#section_container .contact_info .liens_reseaux div img {
  width: 100%;
}


footer {
  margin-top: 100px;
}
/* Big - size */
@media (max-width: 1024px) {
  header {
    height: 310px;
  }
  h1 {
    padding-top: 40px;
  }
}

/* Medium - size */

@media (max-width: 921px) {
  header {
    height: 280px;
  }
  h1 {
    padding-top: 40px;
    font-size: 3em;
  }
}

/* Small - size */

@media (max-width: 767px) {
  header {
    height: 240px;
  }
}

/* XSmall - size */

@media (max-width: 544px) {
  header {
    height: 222px;
  }
  h1 {
    padding-top: 40px;
    font-size: 2.3em;
  }
}
