@import "../style.css";
@import "../templates/header.css";
@import "../templates/footer.css";

/*  */
/* section citation */
/*  */

.section_citation {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 100px;
}

.section_citation .citation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--small-space);
}

.section_citation .citation p:first-child {
  font-size: 1.3rem;
}

.section_citation .empty {
  width: 82px;
}



/* Section citation : Responsive */

@media (max-width: 1024px) {
  .section_citation {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
    padding-bottom: 0;
  }
}

@media (max-width: 921px) {
  .section_citation .citation p:first-child {
    font-size: 1.2rem;
  }

}

/*  */
/* Section event */
/*  */

.section_event {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--small-space);
}

.section_event h2 {
  color: var(--my-black);
}

.section_event .container {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding-top: 60px;
  max-width: var(--max-width);
}

.section_event article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--small-space);
}

.section_event article div:first-child {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.section_event article img {
  box-shadow: 10px 10px var(--my-gray);
}

.section_event .texte {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--small-space);
}

.section_event .texte p {
  text-align: center;
}

/* Section event : Responsive */

@media (max-width: 767px) {
  .section_event .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--medium-space);
  }

  .section_event article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--small-space);
    width: 100%;
  }
}

/*  */
/* Section explore */
/*  */

.section_explore {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/section-bg-img.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 596px;
  display: flex;
  justify-content: center;
}

.section_explore .container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  max-width: var(--max-width);
}

.section_explore .container > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--small-space);
}

.section_explore p {
  color: var(--white);
}

.section_explore .container button {
  margin-top: var(--small-space);
}

/* Section explore : Responsive */

@media (max-width: 1024px) {
  .section_explore {
    height: 416px;

    background-attachment: local;
  }
}

@media (max-width: 767px) {
  .section_explore {
    height: 340px;
    padding: 0;
    background-attachment: local;
  }

  .section_explore .container {
    justify-content: center;
  }

  .section_explore .container > div {
    width: 95%;
    align-items: flex-start;
  }
}

@media (max-width: 545px) {
  .section_explore {
    height: 365px;
  }
}

/*  */
/* Section destination */
/*  */

.section_destination {
  display: flex;
  justify-content: center;
}

.section_destination .container {
  display: flex;
  justify-content: center;
  gap: var(--medium-space);
  width: 100%;
  max-width: var(--max-width);
}

/* .section_destination .container img {
  width: 100%;
  border-radius: 5px;
} */

.section_destination h2 {
  color: var(--my-dark-grey);
}

.section_destination .container > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--small-space);
  flex: 1;
}

.section_destination .container .left {
  color: var(--my-dark-grey);
}

/* Section destination : Responsive */

@media (max-width: 767px) {
 
  .section_destination .container {
    flex-direction: column;
    justify-content: center;
    gap: var(--small-space);
  }

  .section_destination .container > div {
    align-items: center;
    justify-content: center;
  }

  .section_destination .container > div > img {
    width: 100%;
    border-radius: 5px;
  }

  .section_destination .container .left {
    align-items: flex-start;
  }

  .section_destination .container .left button {
    margin-top: 16px;
    margin-bottom: 48px;
  }
}
