@import "../style.css";
@import "../templates/header.css";
@import "../templates/footer.css";

/*  */
/* section citation */
/*  */

.section_citation {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 100px;
}

.section_citation .emplacement_texte {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--small-space);
}

.section_citation .emplacement_texte p:first-child {
  font-size: 1.3rem;
}

.section_citation p {
  font-weight: 400;
}

.section_citation .empty {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.section_citation .empty div {
  width: 92px;
}

.section_citation .empty div img {
  width: 100%;
}

/* Section citation : Responsive */

@media (max-width: 1024px) {
  .section_citation {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
    padding-bottom: 0;
  }
  .section_citation .hiddened {
    display: none;
  }
}

/*  */
/* Section event */
/*  */

.section_event {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--small-space);
}

.section_event h2 {
  color: var(--my-black);
}

.section_event .container {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding-top: 40px;
  max-width: var(--max-width);
}

.section_event .event {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--small-space);
}

.section_event .event div:first-child {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.event img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 10px 10px var(--my-gray);
}

.event_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.event_text p {
  text-align: center;
}

/* Section event : Responsive */

@media (max-width: 767px) {
  .section_event .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--small-space);
  }

  .section_event .event {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--small-space);
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .section_event {
    padding-bottom: 80px;
  }
}

/*  */
/* Section explore */
/*  */

.section_explore {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/section-bg-img.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 596px;
  display: flex;
  justify-content: center;
}

.section_explore .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  max-width: var(--max-width);
}

.section_explore .container > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--small-space);
}

.section_explore p {
  color: var(--white);
}

.section_explore .container button {
  margin-top: var(--small-space);
}

/* Section explore : Responsive */

@media (max-width: 1024px) {
  .section_explore {
    height: 416px;
    padding: 0;
    background-attachment: local;
  }
}

@media (max-width: 767px) {
  .section_explore {
    justify-content: center;
  }

  .section_explore .hiddened {
    display: none;
  }

  .section_explore > div {
    width: 95%;
  }
}

@media (max-width: 545px) {
  .section_explore {
    height: 365px;
  }
}

/*  */
/* Section destination */
/*  */

.section_destination {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--padding-xl) 0;
}

.section_destination .container {
  display: flex;
  justify-content: space-between;
  gap: var(--small-space);
  max-width: var(--max-width);
}

.section_destination .container img {
  width: 100%;
  border-radius: 5px;
}

.section_destination .container > div {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: var(--small-space);
}

.section_destination .container .left {
  padding-right: 20px;
  padding-left: 25px;
  flex: 1;
}

.section_destination .left p {
  margin-bottom: 25px;
  padding-top: 17px;
}

.section_destination .center {
  flex: 1;
}

.section_destination .right {
  flex: 1;
}

/* Section destination : Responsive */

@media (max-width: 1024px) {
  .section_destination {
    padding: 70px 0;
  }
}

@media (max-width: 767px) {
  .section_destination {
    padding-bottom: 0px;
  }

  .section_destination .container {
    flex-direction: column;
    gap: 0px;
  }

  .section_destination .container > div {
    align-items: center;
  }

  .section_destination .container > div > img {
    width: 95%;
    border-radius: 5px;
  }
}
