@import url("../style.css");
@import url("../templates/header.css");
@import url("../templates/footer.css");

/* personnalisation du header */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/project-background.jpg);
  height: 570px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_our_projet {
  display: flex;
  flex-direction: column;
  gap: var(--medium-space);
  max-width: var(--max-width);
}

.section_our_projet h2 {
  color: var(--my-black);
}

.section_our_projet .rubrique {
  display: flex;
  align-items: center;
  gap: var(--small-space);
  font-weight: bold;
}

.section_our_projet .pictures {
  display: flex;
  gap: var(--small-space);
}

.section_our_projet .caroussel {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.section_our_projet .rond {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: var(--my-red);
  opacity: 0.3;
}

.section_our_projet .caroussel .rond:first-child {
  opacity: 0.8;
}

/* responsive  */

@media (max-width: 1024px) {
  header {
    height: 310px;
  }

  h1 {
    padding-top: 40px;
  }

  .section_our_projet .pictures div:nth-of-type(3) {
    display: none;
  }
}

@media (max-width: 921px) {
  header {
    height: 280px;
  }
  h1 {
    padding-top: 40px;
    font-size: 3em;
  }
}

@media (max-width: 767px) {
  header {
    height: 240px;
  }

  .section_our_projet {
    gap: var(--small-space);
  }

  .section_our_projet .pictures div:nth-child(2) {
    display: none;
  }
}

@media (max-width: 544px) {
  header {
    height: 222px;
  }
  h1 {
    padding-top: 40px;
    font-size: 2.3em;
  }
}
