@import url("../style.css");
@import url("../templates/header.css");
@import url("../templates/header_adapt.css");
@import url("../templates/footer.css");

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/services-bg.jpg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--small-space);
  width: 650px;
}

#section_title h2 {
  color: var(--my-black);
}

#section_title p {
  text-align: center;
  width: 95%;
}

#section_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--medium-space);
  max-width: var(--max-width);
}

#section_card .row_card {
  display: flex;
  justify-content: center;
  gap: var(--big-space);
}

#section_card .row_card .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--small-space);
}

#section_card .row_card .card img {
  box-shadow: 10px 10px var(--my-gray);
}

#section_card .row_card .card p {
  text-align: center;
}

/* section answer */

#section_answer {
  display: flex;
  justify-content: center;
  gap: var(--small-space);
  max-width: var(--max-width);
}

#section_answer h3 {
  color: var(--my-black);
}

#section_answer > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--small-space);
}

.liste_ul .liste_li {
  display: flex;
  align-items: center;
  gap: var(--small-space);
}

.liste_li .separateur {
  width: 20px;
}

/* Responsive */
@media (max-width: 767px) {
  #section_card {
    gap: var(--big-space);
  }

  #section_card .row_card {
    flex-direction: column;
  }

  #section_answer {
    flex-direction: column;
    gap: var(--big-space);
  }

  #section_title {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 544px) {
  h2 {
    font-size: 1.5rem;
  }

  #section_card .row_card .card {
    gap: var(--xsmall-space);
  }
}
