/* import des fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Initialisation des marges et paddings */
* {
  margin: 0;
  padding: 0;
}

/* Détail de la chartre graphique */
:root {
  --bg-white: #f5f5f5;
  --white: #ffffff;
  --my-red: rgb(251, 32, 86);
  --my-light-gray: #f5f5f5;
  --my-gray: #e6e6e6;
  --my-dark-gray: #646464;
  --my-black: #252525;


  --max-width: 1140px;
  --padding-xl: 120px;
  --gap: 20px;
}

/* Balises générales */

body {
  background-color: var(--bg-white);
  color: var(--my-black);
  font-family: "Noto Sans";
  font-weight: 300;
}

input {
  font-family: "Noto Sans";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat";
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  color: var(--white);
}

h2 {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: var(--white);
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--white);
}

h5 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.35rem;
  color: var(--my-black);
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
  color: var(--my-dark-gray);
}

button {
  padding: 16px 40px;
  background-color: var(--my-red);
  border-style: none;
  border-radius: 23px;
  color: var(--white);
  text-transform: uppercase;
  font-size: 0.8rem;
}

/* composants réutilisable */

.separateur {
  height: 3px;
  width: 65px;
  background-color: var(--my-red);
}

.section-espace-top {
  margin-top: 125px;
}