/* template navigateur */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 95%;
  max-width: var(--max-width);
  position: absolute;
  top: 0;
  padding: 0 var(--small-space);
}

#menu-mobile {
  height: 1px;
  width: 1px;
  margin-left: -1px;
  background-color: var(--my-red);
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--small-space);
  font-size: 2rem;
  overflow: hidden;
}

#menu-mobile a {
  text-decoration: none;
  color: var(--white);
}

#menu-mobile .separateur {
  background-color: var(--white);
}

#menu-mobile li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: var(--small-space);
}

nav .menu_hamburger:hover #menu-mobile{
  width: 105%;
  height: 500px;
}

nav .logo {
  width: 150px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  padding-left: 32px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--white);
}

nav .menu_hamburger {
  background-color: var(--my-red);
  height: 42px;
  width: 42px;
  display: none;
  justify-content: center;
  align-items: center;
}

nav .menu_hamburger img {
  width: 20px;
  height: 20px;
}

/* Responsive navigateur */

@media (max-width: 921px) {
  nav .menu_hamburger {
    display: flex;
  }

  nav ul {
    display: none;
  }
  nav .logo {
    width: 120px;
  }
}

@media (max-width: 544px) {
  nav .logo {
    width: 100px;
  }
}
